body {
  font-family: Helvetica, sans-serif;
}

li {
  color: white;
}

img.round-dog {
  border-radius: 50%;
  border-style: solid;
  border-color: #207e9b;
}

.button {
  color: #207e9b;
  border-style: solid;
  border-color: #207e9b;
  padding: 10px, 10px, 10px, 10px;
}

nav, footer {
  background-color: #5cc1e0;
}

header {
  background-image: url("../images/park.jpg");
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
