body {
  font-family: 'Raleway', sans-serif;
}

li {
  color: white;
}

img.round-dog {
  border-radius: 50%;
  border-style: solid;
  border-color: #207e9b;
}

.button {
  background-color: white;
  color: #207e9b;
  border-style: solid;
  border-color: #207e9b;
  text-align: center;
  margin: 15px;
  padding: 5px;
}

a {
  text-decoration: none;
}

nav, footer {
  background-color: #5cc1e0;
}

header {
  background-image: url(../../images/park.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
